<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script src="first_controller.js"></script>
</head>
<body>	
	<div ng-app="Main">

		<div id=helloworld>
			<input ng-model="name">
			hello {{name}}
		</div>
		
		
		<div ng-controller="first_controller">
			<h1>{{greeting}}</h1>
		</div>
		
		
		<div id=assignment>
			assignment x: <input ng-model="x">
			assignment y: <input ng-model="y">
		</div>
		
		
		<div id=result>
			result:
			{{x+y}}
		</div>
		
		
		
	</div>
</body>	
</html>