<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<title>Camera</title>
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>

		<script src="view4.js"></script>
		<script src="cross_controller_dataservice.js"></script>



		<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
	</head>
	<body>
		<div ng-App="videoApp" ng-controller="main_controller" class="video" id="video_wrapper">
			<div id="question">{{question}}</div><br>
			<button id="yes_btn" ng-click="yes()">yes</button>
			<button id="no_btn" ng-click="no()">no</button>
			
			<div ng-controller="video_controller" id='video_wrapper'>
				<video autoplay="true" id="video">
				</video>
			</div>
		</div>
	</body>
</html>