/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.carousel_wrapper
{
	background:#e6e6e6;
	height:8%;
	overflow:hidden;
}
.carousel
{}
.carousel_buttons
{
	display:block;
	max-width:100px;
	margin:0 auto;
}
.todo_list_wrapper
{	
	display:inline-block;
	border-style:solid;
	border-color:black;
	border-width:3px;
	background:#e6e6e6;

}
.header_wrapper
{
	background:#bfbfbf;
}
.header
{
	position:relative;
	display:inline-block;
	left:25%;
}
.todoList
{}
.itemList
{
	list-style-type:none;
}
.calculator_wrapper
{}
.calculator
{	
	background:#e6e6e6;
	display:inline-block;
	width:140px;
	height:190px;
	border-radius:10px;
	border:solid;
}
.calculator_buttons
{}
.calculator_numbers
{
	background:#e6e6e6;
	float:left;
	top:20px;
}
.calculator_operators
{	
	background:#e6e6e6;
	display:block;
	float:right;
	top:100px;
	left:185px;
}
.screen
{
	overflow:hidden;
	position:relative;
	top:5px;
	height:30px;
	width:125px;
	margin:0 auto;
	background:white;
	border:solid;
	border-radius:5px;
}
