/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.page_wrapper
{	
	display:inline-block;
	border-style:solid;
	border-color:black;
	border-width:3px;
	background:#e6e6e6;
}
.header_wrapper
{
	background:#bfbfbf;
}
.header
{
	position:relative;
	display:inline-block;
	left:25%;
}
.todoList
{}
