<html>
	<head>
		<title>More Services</title>
		<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
		<script src="dataservices6.js"></script>
		<script src="view6.js"></script>
		<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">	
	</head>
	<body>
		<div ng-App="app">
		
			<div  ng-controller="first_controller">
				name list
				<ul>
					<li ng-repeat="n1 in names track by $index">
						{{ n1 }}
					</li>
				</ul>
				
			</div>
			
			<div ng-controller="second_controller">
				<ul>
					<li ng-repeat="n2 in names2 track by $index">
						{{ n2 }}
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>